modules = ["python-3.12", "bash", "web", "nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-24_05"
packages = ["cargo", "freetype", "glibcLocales", "libiconv", "libxcrypt", "libyaml", "nmap", "openssl", "pkg-config", "rustc", "xcodebuild", "zlib"]

[deployment]
run = ["sh", "-c", "node index.js"]
